 .Post-Date {
    font-size: 0.9em;
    color: #868686;
    margin-bottom: 40px;
  }

  h1.Post-Title{
    font-family: 'NeuzeitS LT Book', Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 800;
  }

  @media screen and (min-width: 769px){
    .Single-Content {
      max-width: 650px;
      margin: 0 auto;
      font-size: 1.13em;
    }  
  }