form {
    max-width: 600px;
    margin-top: 40px;
}

.button{   
letter-spacing: 0.4px;
background-color: rgb(29, 29, 29) !important;
}
.button:hover, .button:focus{
    background-color: black !important;
}