@media screen and (min-width: 1024px){
.First-Photo {
    margin-left: 100px;
    margin-right: 100px;
  }
.Second-Photo{
    margin-left: 8%;
    margin-right: 60px;
}
.First-Para{
    /* margin-left: 100px;
    margin-right: 50px; */
    margin-left: 8%;
    margin-right: 60px;
}
.Second-Para{
    margin-right: 100px;
    margin-left: 100px;
}
.Flex-Center-Align{
    display: flex;
    align-items: center;
}
.Second-Row{
    margin-top: 100px;
    margin-bottom: 100px;
}
}