@font-face {font-family: "NeuzeitS LT Book";
  src: url("./assets/fonts/Neuzeit S LT BookHeavy.eot");
  src: url("./assets/fonts/Neuzeit S LT BookHeavy.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Neuzeit S LT BookHeavy.woff2") format("woff2"),
  url("./assets/fonts/Neuzeit S LT BookHeavy.woff") format("woff"),
  url("./assets/fonts/Neuzeit S LT BookHeavy.ttf") format("truetype"),
  url("./assets/fonts/Neuzeit S LT BookHeavy.svg#NeuzeitS LT Book") format("svg");
}

@font-face {font-family: "Neuzeit Grotesk W01 Regular";
  src: url("./assets/fonts/Neuzeit Grotesk W01 Regular.eot");
  src: url("./assets/fonts/Neuzeit Grotesk W01 Regular.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Neuzeit Grotesk W01 Regular.woff2") format("woff2"),
  url("./assets/fonts/Neuzeit Grotesk W01 Regular.woff") format("woff"),
  url("./assets/fonts/Neuzeit Grotesk W01 Regular.ttf") format("truetype"),
  url("./assets/fonts/Neuzeit Grotesk W01 Regular.svg#NeuzeitS LT Book") format("svg");
}

a{
  text-decoration: none;
  color: rgb(0, 172, 0);
}
a:hover, a:focus{
  color: rgb(88, 88, 88);
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  box-shadow: none;
  border: 1px solid black;
}
[type='text']:focus,[type='email']:focus,textarea:focus{
  box-shadow: none;
  border: 1px solid black;
}
h2{
  font-size: 1.6em;
  font-family: 'NeuzeitS LT Book', Verdana, Geneva, Tahoma, sans-serif;
}

body,h1,h2,h3,h4,h5,h6{
  font-family: 'Neuzeit Grotesk W01 Regular', Verdana, Geneva, Tahoma, sans-serif;
}
body{
  font-size: 1.1em;
  font-family: 'Neuzeit Grotesk W01 Regular', Verdana, Geneva, Tahoma, sans-serif;
}
.App{
  padding-top: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* helper classes */
span.Keyword {
  background: #def9de;
}


/* media queries */

@media screen and (max-width: 768px){
  .App{
    margin-top: 10px;
  }
}